$iconsList: 
  'logo',
  'menu',
  'close',
  'minus',
  'plus',
  'arrow-right',
;
.i {
  @each $item in $iconsList {
    &-#{$item} {
      @include mask('icons/#{$item}.svg');
      width: 20px;
      height: 20px;

      // &:not([class*="bgc-"]) {
      //   background-color: var(--gray7);
      // }
    }
  }
}
