@mixin mask($img) {
  -webkit-mask-image: url("@/assets/images/" + $img);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: 0 0;
}

@mixin image($img) {
  background-image: url("@/assets/images/" + $img);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@mixin noMask() {
  -webkit-mask-image: none;
}